<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/user/principal">Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/user/insert']" routerLinkActive="active">Ingreso de Materia Prima </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/user/intermediate']" routerLinkActive="active"> Producto intermedio </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/user/final']" routerLinkActive="active"> Final </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/user/inventory']" routerLinkActive="active"> Inventario</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/user/receipt']" routerLinkActive="active">  Despacho</a>
            </li>
        </ul>
        <a class="navbar-brand hidden-md-down"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4 mx-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mision</h5>
                <p class="card-text">Ofrecer un conjunto de servicios y soluciones que permitan a nuestros clientes resolver sus necesidades con total confianza y tranquilidad gracias a nuestro conocimiento técnico, nuestra rápida respuesta, nuestro compromiso y nuestra disposición.
                    Crear una cadena simpática entre proveedores, clientes, empresa, sociedad y empleados que se mantenga equilibrada y sustentada por las relaciones personales, las emociones, el flujo económico y los compromisos mutuos de responsabilidad.</p>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 mx-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vision</h5>
                <p class="card-text">Crear una estructura empresarial sólida y flexible, abierta a nuevas ideas y nuevos proyectos para poder traducirlos a nuevas soluciones para nuestros clientes y así hacernos pioneros y líderes en variedad de servicios, prestaciones, innovaciones
                    y búsqueda de soluciones a medida que cambia la sociedad a nivel estatal.</p>

            </div>
        </div>
    </div>
</div>